@import "tailwindcss";

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes marqueeLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes marqueeRight {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@layer utilities {
    .animate-slide-up {
        opacity: 0;
        animation: slideUp 0.8s ease-out forwards;
    }

    .delay-200 {
        animation-delay: 0.2s;
    }

    .delay-400 {
        animation-delay: 0.4s;
    }

    .animate-marquee-left {
        animation: marqueeLeft 30s linear infinite;
    }

    .animate-marquee-left:hover {
        animation-play-state: paused;
    }

    .animate-marquee-right {
        animation: marqueeRight 30s linear infinite;
    }

    .animate-marquee-right:hover {
        animation-play-state: paused;
    }
}